body {
    background-color: #f1f2f7;
}

main {
    background-color: white;
}

.header {
    background-color: #23292f;
}

.header a {
    color: #ccc;
    text-decoration: none;
    margin-right: 5px;
}

.header div {
    color: #1aa;
}

.w-40 {
    width: 40%;
}

table {
    width: 100%;
}

.equalWidthTable{
    table-layout: fixed;
}

td,tr,th {
    padding: 5px;
    font-size: 13px;
}

input,select {
    width: 90%;
}

.submit {
    width: 10%;
    color: white;
    background-color: #00acac;
}

.rowhide{
    height:0px;
}

textarea{
    overflow-y: scroll;
    resize: none;
    width: 90%;
}
